@import url("https://fonts.googleapis.com/css?family=Audiowide");

* {
    margin: 0;
    font-family: "Audiowide";
    color: rgb(56, 114, 54);
  }
  .navbar {
    padding: 20px;
    display: flex;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    border-bottom: 4px solid #f2f2f2;
  }
  .navbar h1 {
    color: #77df91;
    font-size: xx-large;
  }


  .navbar .links {
    margin-left: auto;
    color: #133
  }
  .navbar a {
    margin-left: 16px;
    text-decoration: none;
    padding: 20px;
    font-size: x-large;
  }
  .navbar a:hover {
    color: #133;
  }
  .content {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
  }

  .event-view {
    padding: 10px 16px;
    margin: 20px 0;
    border-bottom: 1px solid #fafafa;
  }

  .event-view:hover {
    box-shadow: 1px 3px 5px rgba(0, 0, 0.1);
  }

  .event-view h2 {
    font-size: 20px;
    color: #77df91;
    margin-bottom: 14px;
  }