@import url("https://fonts.googleapis.com/css?family=Audiowide");

* {
    margin: 0;
    font-family: "Audiowide";
    color: rgb(56, 114, 54);
  }
  .navbar ul {
    list-style: none;
    padding: 20px;
    display: flex;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    border-bottom: 4px solid #f2f2f2;
  }
  .navbar h1 {
    color: #77df91;
    font-size: xx-large;
    
  }
  


  .navbar .links {
    margin-left: auto;
    color: #133
  }
  .navbar a {
    margin-left: 16px;
    text-decoration: none;
    padding: 20px;
    font-size: x-large;
  }

  .navbar a:hover
   {
    color: #133;
  }

  .navbar a:active,
  .navbar a.active {
    color: #133;
  }


  .content {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
  }

